<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1>MARIJUANA <span id="js-rotating">SALES, SERVICES, SOLUTIONS</span></h1>
                        <p class="p-heading p-large">420Connect is a top consultancy company specializing in marijuana business growth using online marketing and conversion optimization tactics</p>
                        <a class="btn-solid-lg page-scroll" href="#intro">DISCOVER</a>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
@code {

}
