@inherits LayoutComponentBase
<<<<<<< HEAD

<div class="sidebar">
    <NavMenu/>
</div>
div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>
div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>
=======
<!--<PreLoaders/>-->
<NavBar />

>>>>>>> 1cfbcf0f67748f548f0c819d0e492047f886f6b8
<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>